html {
    min-height: 100%;
    position: relative;
}

/*body {
    margin: 0px;
    padding: 0px;
    background: url('../img/fondo3.png') no-repeat center center;
    background-size: 100% 100%;
    background-size: contain;
}*/

.container {
    display: grid;
    max-width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*error 404*/


/********************************************/

.ful-box {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.cover {
    background: 50% 50% no-repeat;
    background-size: cover;
}

.container-404 {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Cabecera*/


/*******************************************/

#conb {
    background-color: #255b99;
    width: 100%;
}

#banner {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: auto;
    padding: 0px;
}

#nav1 {
    max-width: 1200px;
    margin: auto;
}
#nav_menu {
    max-width: 1200px;
    margin: auto;
}
#titulo{
    color: #ffffff;
    text-align: center;
    margin: auto;
    position: relative;
}
#botonCrear{
    position: relative;
}

/*Pié de pagina*/


/******************************************/

#conf {
    background-color: #255b99;
    width: 100%;
}

#pie {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: auto;
    padding: 0px;
}


/*inicio*/


/*****************************************************/

#form_ini {
    width: 400px;
    margin: auto;    
    margin-bottom: 1%;
    margin-top: 1%;
}


/******************************************************/

#con_todo {
    max-width: 1200px;
    margin: auto;
    height: auto;
    min-height: 600px;
}


/************************************************************/


/*Formularios*/

#form_evento {
    max-width: 500px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

#form_bas1 {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

.formPer {
    max-width: 500px;
    margin: 1%;
    background-color: #ffffffe3;
}


/************************************************************/

#tabla {
    background: #fffffff8;
    text-align: center;
    font-weight: bold;   
}

th {
    background-color: #255b99;
    color: #ffffff;
}



 .tab-pane {
    padding:20px;
}


#form_invi{
    width: 800px;
    margin: auto;    
    margin-bottom: 1%;
    margin-top: 1%;
}
#fotoCap{
    opacity: 0;
    width: 0;
}